* {
    margin: 0;
    padding: 0;
}

body {
    width: 90%;
    margin: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
}

/* Header Section */

header {
    display: flex;
    flex-direction: row;
    padding: 50px 0;
    align-items: center;
}

#logo {
    padding: 0 50px;
}

nav {
    flex-grow: 1.5;
    text-align: end;
    text-transform: capitalize;
}

nav a {
    padding: 5px 10px;
    color: black;
}

#signup {
    border: 1px solid black;
    border-radius: 20px;
}

/* Section 0 */

#title {
    position: fixed;
    left: -100px;
    top: 50%;
    transform: rotate(-90deg);
    font-size: 12px;
}

/* Section 1 */

#featured {
    display: grid;
    grid-template-columns: 40% auto;
    column-gap: 15px;
    height: 500px;
    margin-bottom: 50px;
}

#first-post, #featured-posts article {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
}

#first-post {
    background:linear-gradient(0deg, rgba(61, 61, 61, 0.2), rgba(61, 61, 61, 0.2)), url(./images/post1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    transition: transform .2s;
}

#first-post:hover{
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.05);
}


.category {
    background-color: white;
    border-radius: 5;
    text-transform: uppercase;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 10px;
    letter-spacing: 0.2em;
    position: absolute;
    top: 25px;
}

/*Zoom on Hover for #featured-posts*/

.janet-robert{
  transition: transform .2s;
}

.janet-robert:hover{
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.05);
}


.james-bryant{
  transition: transform .2s;
}

.james-bryant:hover{
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.05);
}


.patricia-jenkins{
  transition: transform .2s;
}

.patricia-jenkins:hover{
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.05);
}

.margaret-robertson{
  transition: transform .2s;
}

.margaret-robertson:hover{
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.05);
}


/*Zoom on Hover for #main*/
.janet-magret{
  transition: transform .2s;
}

.janet-magret:hover{
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.05);
}


.janet-sean{
  transition: transform .2s;
}

.janet-sean:hover{
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.05);
}

.pat-jenkins{
  transition: transform .2s;
}

.pat-jenkins:hover{
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.05);
}



.author {
    color: white;
    font-size: 14px;
    padding-bottom: 10px;
}

h2 {
    color: white;
    font-size: 32px;
}

#featured-posts h2 {
    font-size: 24px;
}

#featured-posts {
    display: grid;
    grid-template-columns: auto auto;
    gap: 15px;
    position: relative;
}

#first-post, #featured-posts article {
    background-color: bisque;
    padding: 25px 50px 25px 25px;
    border-radius: 20px;
}

#featured-posts article:nth-child(1) {
    background:linear-gradient(0deg, rgba(60, 0, 255, 0.8), rgba(60, 0, 255, 0.8)), url(./images/post2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#featured-posts article:nth-child(2) {
    background-color: orange;
}

#featured-posts article:nth-child(3) {
    background:linear-gradient(0deg, rgba(255, 0, 217, 0.8), rgba(255, 0, 217, 0.8)), url(./images/post3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#featured-posts article:nth-child(4) {
    background:linear-gradient(0deg, rgba(243, 117, 255, 0.8), rgba(243, 117, 255, 0.8)), url(./images/post4.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Section 2 */

#main {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    margin-bottom: 50px;
}

#main article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
    background-color: aquamarine;
    width: 95%;
    box-sizing: border-box;
    margin: auto;
    height: 600px;
    border-radius: 20px;
    padding: 0 200px 0 100px;
}

#main article:nth-child(1) {
    background:linear-gradient(0deg, rgba(101, 101, 101, 0.5), rgba(101, 101, 101, 0.5)), url(./images/post5.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#main article:nth-child(2) {
    color: black;
    background:linear-gradient(0deg, rgba(255, 191, 0, 0.8), rgba(255, 191, 0, 0.8)), url(./images/post6.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#main article:nth-child(3) {
    background:linear-gradient(0deg, rgba(101, 101, 101, 0.5), rgba(101, 101, 101, 0.5)), url(./images/post7.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#main h2 {
    font-size: 40px;
}

#main article:nth-child(2) .categorymain, #main article:nth-child(2) .author, #main article:nth-child(2) h2 {
    color: black;
    border-color: black;
}

#main hr, #other-posts hr {
    width: 30px;
}

#other-posts hr {
    color: white;
}

.categorymain {
    border: 1px solid white;
    color: white;
    border-radius: 5;
    text-transform: uppercase;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 10px;
    letter-spacing: 0.2em;
    margin-bottom: 20px;
}

.post-intro {
    width: 80%;
}

/* Section 3 */

#other-posts {
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 25px;
    margin-bottom: 150px;
    color: white;
}

#top-other-container article:nth-child(1) {
    background:linear-gradient(0deg, rgba(255, 109, 209, 0.8), rgba(255, 109, 209, 0.8)), url(./images/post8.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#top-other-container article:nth-child(2) {
    background:linear-gradient(0deg, rgba(255, 191, 0, 0.8), rgba(255, 191, 0, 0.8)), url(./images/post9.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#bottom-other-container article:nth-child(1) {
    background:linear-gradient(0deg, rgba(101, 101, 101, 0.8), rgba(101, 101, 101, 0.8)), url(./images/post10.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#bottom-other-container article:nth-child(2) {
    background:linear-gradient(0deg, rgba(0, 145, 156, 0.8), rgba(0, 145, 156, 0.8)), url(./images/post11.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#bottom-other-container article:nth-child(3) {
    background:linear-gradient(0deg, rgba(255, 117, 255, 0.8), rgba(255, 117, 255, 0.8)), url(./images/post12.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#other-posts h3 {
    align-self: center;
    text-transform: uppercase;
    font-size: 16px;
    color: black;
}

#top-other-container, #bottom-other-container {
    display: flex;
    flex-direction: row;
    column-gap: 25px;
    justify-content: center;
}

.top-other, .bottom-other {
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    border-radius: 20px;
    padding: 50px;
}

.top-other {
    width: 50%;
     transition: transform .2s;
}

.top-other:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.05);
}


.bottom-other {
    width: 33%
    transition: transform .1s;
}

.bottom-other:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.05);
}


#load-more {
    align-self: center;
    width: 70%;
    background-color: rgb(204, 204, 204);
    border-radius: 20px;
    padding: 25px 0;
    color: black;
    text-align: center;
    text-transform: uppercase;
}


#load-more:hover{
  background-color: green;
  width: 1000px;
}


/* Section 4 */

#newsletter {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    width: 60%;
    margin: 0 auto 150px;
    text-align: center;
    background-color: #6767cb;
}

#newsletter h3 {
    font-size: 40px;
}

form {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 40%;
    margin: auto;
}

input[type=text] {
    border: none;
    border-bottom: 2px solid black;
    text-align: center;
    padding: 10px;
    margin-bottom: 25px;
}

button {
    border: none;
    background-color: rgb(204, 204, 204);
    border-radius: 20px;
    padding: 25px;
    text-align: center;
    text-transform: uppercase;
    width: 70%;
    margin: auto;
}

/* Footer */

footer {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

#footer-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#footer-menu, #social-icons {
    display: flex;
    flex-direction: row;
}

#footer-menu li, #social-icons li {
    list-style: none;
    padding-right: 20px;
}

#copyright {
    font-size: 12px;
    color: gray;
}
